<form id='new-card-form' class="form-inline" role='form'>
  <div class="form-group">
    <textarea name='card[title]' class="form-control"></textarea><br>
    <input type='submit' value='Add' class="btn btn-success">
    <a href="#" id="close-card-form" class="glyphicon glyphicon-remove"></a>
  </div>
</form>