<div class="row">
  <div class="col-md-8"><%= card.escape('title') %></div>
  <div class="col-md-2 col-md-offset-2">
    <button class="btn btn-xs btn-danger card-delete-btn">delete</button>
  </div>
</div>

