<form id="add-member-form" role="form" class="form-inline">
  <div class="form-group">
    <label>Email
      <input type='text' name='newMemberEmail' class="form-control">
    </label>
  </div>

  <input type="submit" value="Add Member" class="btn btn-primary">
</form>