<h1><%= board.escape('title') %></h1>

<ul id="board-list">
  <% board.lists().each(function (list) { %>
    <li>
      <%= list.escape('title') %>
      <ul>
        <% list.cards().each(function (card) { %>
          <li><%= card.escape('title') %></li>
        <% }) %>
      </ul>
    </li>
  <% }); %>
</ul>

<button class="btn btn-danger" id="delete-button">Delete Board</button>