<h1><%= board.escape('title') %></h1>

<div class="row">
  <div class="col-md-12" class="clearfix">
    <ul id="lists" class="clearfix">
    </ul>
  </div>
</div>

<div id="board-controls">
</div>
<button class="btn btn-danger" id="delete-button">Delete Board</button>
