<h1><%= board.escape('title') %></h1>

<ul>
  <% board.lists().each(function (list) { %>
    <li><%= list.escape('title') %></li>
  <% }); %>
</ul>

<button class="btn btn-danger" id="delete-button">Delete Board</button>