/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #fff;
  border-color: #428bca;
  color: #428BCA;
 }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff;
  border-color: #428bca;
  color: #428BCA;
}

.navbar-nav > li > a {
  margin-top: -1px;
  padding: 0 auto;
}

.nav .open > a {
  background-color: none;
}

