/* Misc */

.clearfix:after {
  content: ' ';
  visibility: hidden;
  display: block;
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Navbar */

.navbar {
  border-radius: 0;
}

.navbar-gradient {
  background: linear-gradient(to bottom, #27709b 0, #24688f 100%);
  height: 0;
}

.navbar-brand {
  color: #F8F8F8;
}

.navbar-brand:hover {
  color: #DDD;
}

nav .open > a {
  background-color: initial;
}

nav .open > a:focus {
  background-color: initial;
}

nav .open > a:hover {
  background-color: initial!;
}

.dropdown a {
  color: #F8F8F8;
}

/* Boards Index Page */

#my-boards {
  padding-left: 0;
  margin-top: 40px;
}

#my-boards > li {
  list-style: none;
}

#my-boards > li a {
  width: 259px;
  height: 95px;
  background-color: #23719F;
  float: left;
  margin: 5px;
  padding: 12px;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  font-weight: bold;
}

#my-boards > li a:hover {
  background-color: #1E628A;
}

/* Boards Show Page */

.list {
  margin: 10px 10px;
  float: left;
  width: 250px;
  list-style: none;
  position: relative;
}

#lists {
  list-style-type: none;
  padding-left: 0;
  margin-top: 40px;
}

.card-create-btn {
  margin-top: 2px;
  color: white;
  float: right;
}

#card_title {
  width: 216px;
  margin-bottom: 7px;
}

#new-card-form input[type='submit'] {
  margin-bottom: 8px;
  margin-right: 5px;
}

.list-delete-btn {
  margin-top: 2px;
  float: right;
  color: white;
  margin-right: 10px;
}

.card {
  margin: 8px 2px;
  padding: 10px;
  border: 1px solid #ddd;
  list-style: none;
}

.card-delete-btn {
  float: right;
  line-height: 1.4;
}

.cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 20px;
}

.dragged {
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 3px 9px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.172549) 0px 3px 9px;
  -moz-box-shadow: rgba(0, 0, 0, 0.172549) 0px 3px 9px;
}

#board-controls {
  margin-top: 50px;
}

.panel {
  border: 1px solid #27709b;
  margin-bottom: 0;
}

.panel-default > .panel-heading {
  background-color: #27709b;
  border-color: #27709b;
  color: #fff;
}
