<form id="new-list-form">
  <input type="hidden" name="list[board_id]" value="<%= board.id %>">

  <label>Title
    <input type='text' name='list[title]'>
  </label>

  <input type='submit' value='Create List' class="btn btn-success">
</form>